<%= form_for @house, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :cohort_id, "Cohort" %>
    <%= select(:house, :cohort_id, cohort_options) %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :rooms %><br />
    <%= f.number_field :rooms %>
  </p>
  <p>
    <%= f.label :beds %><br />
    <%= f.number_field :beds %>
  </p>
  <p>
    <%= f.label :bathrooms %><br />
    <%= f.number_field :bathrooms %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.label :total_cost %><br />
    <%= f.number_field :total_cost %>
  </p>
  <%= f.fields_for :assets do |asset_fields| %>
    <% if asset_fields.object.new_record? %>
      <%= asset_fields.file_field :image %>
    <% end %>
  <% end %>

  <%= f.fields_for :assets do |asset_fields| %>
    <% unless asset_fields.object.new_record? %>
      <br><br>
      <%= link_to image_tag(asset_fields.object.image.url(:thumb)), asset_fields.object.image.url(:thumb) %>
      Destroy: <%= asset_fields.check_box :_destroy %>
    <% end %>
  <% end %> 

  <p><%= f.submit %></p>
<% end %>
