<%= render 'google_map_directions' %>

<%= @house.title %>
<%= @house.description %>

<%= @house.rooms %>
<%= @house.capacity %>
<%= @house.beds %>
<%= @house.bathrooms %>
<div id="address"><%= @house.address %></div>
<%= @house.maps_link %>
<%= @house.total_cost %>
<%= @roommates %>

<%= button_to "Join House", "/houses/#{@house.id}/commitments/create", :method => :post %>

<%= render 'facebook_comments' %>

