  <div class="row">
  <div class="span6">
    <h1><%= @house.title %></h1>
    <div id="map_canvas"></div>

    <div id="house-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @house.assets.each_with_index do |asset, index| %>
          <div class="item <%if index == 0%>active<%end%>">
            <%= image_tag asset.image_url.to_s,
                          :width => "378",
                          :height => "248" %>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href= "#house-carousel"  data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href= "#house-carousel"  data-slide="next">&rsaquo;</a>
    </div>

  </div>

  <div class="span6">
    <h2>About This House</h2>

    <% @house.capacity.times do |count| %>
      <% if count + 1 <= @house.users.length %>
        <i class="icon-user"></i>
      <% else %>
        <i class="icon-user icon-white"></i>
      <% end %>
    <% end %>
    
    <% if @house.listing %>
      <h5><%= link_to "Original Listing", @house.listing %></h5>
    <% end %>
    
    <p><%= @house.description %></p>

    <div class="pull-right price-and-button">
      <span class="total-cost">
        <%= number_to_currency((@house.total_cost / @house.capacity)) %>
      </span>

      <br />

      <% unless current_user.commitment || @house.full? %>
        <%= link_to "Join House",
                      "/houses/#{@house.id}/commitments/create",
                      :method => :post,
                      :class => "btn btn-success btn-default details" %>
      <% end %>

      <% if (current_user.commitment &&
             current_user.commitment.house_id == @house.id &&
             !current_user.house.full?) %>
                <%= link_to "Leave House",
                            "/houses/#{@house.id}/commitments/#{current_user.commitment.id}",
                            :method => :delete,
                            :class => "btn btn-danger btn-default details" %>
      <% end %>

      <% if current_user.admin? || @house.user_id == current_user.id %>
        <%= link_to "Edit House",
                            edit_house_path(@house),
                            :class => "btn btn-danger btn-default details" %>
        <%= link_to "Delete House",
                            house_path(@house),
                            :method => :delete,
                            :class => "btn btn-danger btn-default details" %>
      <% end %>
    </div>

    <h3>Details</h3>
    <div id="houses-show-details">
      <div class="row alt">
        <div class="span6"><span id="address"><p><%= @house.address %></p></span></div>
        <div class="span6">to <span id="dbc-address"><%= @house.dbc_location %></span></div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>rooms: </strong><span class="pull-right"><%= @house.rooms %></span>
        </div>
        <div class="span2">
          &nbsp;
        </div>
        <div class="span2">
          <strong>beds: </strong><span class="pull-right"><%= @house.beds %></span>
        </div>
      </div>
      <div class="row alt">
        <div class="span2">
          <strong>capacity: </strong><span class="pull-right"><%= @house.capacity %></span>
        </div>
        <div class="span2">
          &nbsp;
        </div>
        <div class="span2">
          <strong>bath: </strong><span class="pull-right"><%= @house.bathrooms %></span>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>$ per: </strong>
          <span class="pull-right">
            <%= number_to_currency((@house.total_cost / @house.capacity)) %>
          </span>
        </div>
        <div class="span2">
          &nbsp;
        </div>
        <div class="span2">
          <strong>walk: </strong><span class="pull-right"><%= @house.duration %></span>
        </div>
      </div>
      <div class="row alt">
        <div class="span2">
          <strong>$ tot: </strong>
          <span class="pull-right">
            <%= number_to_currency(@house.total_cost) %>
          </span>
        </div>
        <div class="span2">
          &nbsp;
        </div>
        <div class="span2">
          <strong>distance: </strong><span class="pull-right"><%= @house.distance %></span>
        </div>
      </div>
    </div>

    <% if @roommates.first != nil %>
    <h3>Committed Roommates</h3>
    <p>click a picture to see their facebook profile</p>
    <% end %>
    <div class="row">
      <% unless @roommates == nil %>
      <% @roommates.each_with_index do |roommate, index| %>
        <div class="span2">
          <div class="roommate-pics">
            <a href="http://facebook.com/<%=roommate.uid%>"
               class="roommate-popover"
               rel="popover"
               data-placement="top"
               data-content="<%= roommate.name%>"
               data-original-title="Get To Know Me On Facebook">
                <%= image_tag "http://graph.facebook.com/#{roommate.uid}/picture?type=large",
                  :width => "145",
                  :height => "145",
                  :class => "roommate-headshot" %>
            </a>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>

    <div class="row">
      <div class="span6">
        <%= render 'facebook_comments' %>
      </div>
    </div>
  </div>
</div>

<script>Map.init()</script>
