<div class="row well">
  <div class="span2">
    <br />
    <div class="roommate-pics">
      <a href="http://facebook.com/<%=user.uid%>"
         class="roommate-popover"
         rel="popover"
         data-placement="top"
         data-content="<%= user.name%>"
         data-original-title="Get To Know Me On Facebook">
          <%= image_tag user.image,
                        :width => "145",
                        :height => "145",
                        :class => "roommate-headshot" %>
      </a>
    </div>
  </div>
  <div class="span9 pull-right">
    <h2><%= user.name %></h2>
      <div class="span2 pull-right">
        <% if current_user == user || current_user.admin? %>
          <%= link_to "Delete User", user_path(user), :method => :delete,
                        :class => "btn btn-danger btn-default details" %>
        <% end %>
      </div>
    <ul>
      <% if user.house %>
        <li>House: <%= link_to user.house.title, house_path(user.house.id) %></li>
        <li>Capacity: <%= user.house.capacity %></li>
        <li>Spots Left: <%= user.house.capacity - user.house.people_committed %></li>
        <li>
          <a href="http://facebook.com/<%=user.uid%>" alt="Friend Me On Facebook">
            Facebook Profile
          </a>
        </li>
      <% else %>
        Not committed to a house
      <% end %>
    </ul>
  </div>
</div>