<%= link_to "Hang Your Boots", '#', :class => 'brand' %>

<ul class="nav">
  <% if current_user %>
    <li><%= link_to "Hacker Houses", houses_path %></li>
    <li><%= link_to "Potential Roommates", users_path %></li>
  <% end %>
  <% if current_user.try(:is_admin?) %>
    <li><%= link_to "Cohorts", cohorts_path %></li>
    <li><%= link_to "Invitations", invitations_path %></li>
  <% end %>
</ul>

<div class="pull-right">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out",
                signout_path,
                id: "sign_out",
                :class => "btn btn-mini btn-success" %>
  <% else %>
    <%= link_to "Sign in with Facebook",
                "/auth/facebook",
                id: "sign_in",
                :class => "btn btn-mini btn-success" %>
  <% end %>
</div>
